<div class="flex hide-scroll flex-nowrap overflow-x-auto px-5 py-5">
  <div
    *ngFor="let satisfaction of satisfactionsFils"
    class="w-full md:w-1/2 mr-8 rounded-lg bg-white dark:bg-gray-800 shadow-lg px-5 pt-5 pb-10 text-gray-800 dark:text-gray-50" style="flex: 0 0 auto;">
     <div class="w-full mb-10">
      <div class="text-3xl text-red-300 text-left leading-tight h-3">
        “
      </div>
      <p class="text-sm text-gray-600 dark:text-gray-100 text-center font-serif px-5">
        {{ satisfaction.message}}
      </p>
      <div class="text-3xl text-red-300 text-right leading-tight h-3 -mt-3">
        ”
      </div>
    </div>
    <div class="w-full">
      <p class="text-md text-red-300 font-bold text-center">
        {{ satisfaction.nom }}
      </p>
    </div>
  </div>
</div>
